body {
  background: #FFF;
}

body::before {
  content: "";

  position: absolute;

  width: 100vw;
  height: 30%;

  background: #E5E5E5;
  z-index: -1;
}

#points {
  display: flex;
  flex-direction: column;

  width: 90%;
  max-width: 1100px;
  margin: 0 auto 40px;
}

#points header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 40px 0;
}

#points header a {
  display: flex;
  align-items: center;

  color: var(--color-primary);
  font-weight: 700;

  text-decoration: none;
}

#points header a span {
  width: 25px;
  height: 25px;

  margin-right: 16px;

  background: url(../imgs/arrow-left.svg) no-repeat center;
  background-size: cover;
}

#points .total {
  display: block;
  margin-bottom: 24px;

  font-size: 1.6rem;
  color: var(--color-gray);
}

#points .wrapper-points {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

#points .wrapper-points .point {
  max-width: 400px;
  border-radius: 8px;
  overflow: hidden;
}

#points .point img {
  width: 100%;
  object-fit: cover;
}

#points .point h3 {
  font-size: 3.4rem;
  color: var(--color-primary);

  margin: 16px 0 0;
}

#points .point strong {
  display: block;

  font-size: 2rem;
  color: #34CB79;

  margin-bottom: 24px;
}

#points .point span {
  display: block;

  font-size: 1.6rem;
  color: var(--color-gray);
  line-height: 2.5rem;
}