{% extends "components/layout.html" %}
{% block content %}
<link rel="stylesheet" href="/css/create.css">
<div id="create">
  <header>
    <a href="/">
      <img src="/imgs/logo.svg" alt="Ecoleta">
    </a>
    <a href="/">
      <span></span>
      Voltar para home
    </a>
  </header>

  <form action="">
    <h1>Cadastro do ponto de coleta</h1>

    <fieldset>
      <legend>
        <h2>Dados da entidade</h2>
      </legend>

      <div class="input-field">
        <label for="name">Nome da entidade</label>
        <input name="name">
      </div>
      <div class="input-group">
        <div class="input-field">
          <label for="address">Endereço</label>
          <input name="address">
        </div>
        <div class="input-field field-number">
          <label for="number">Número</label>
          <input name="number">
        </div>
      </div>
      <div class="input-group">
        <div class="input-field">
          <label for="state">Estado</label>
          <select name="state">
            <option value="">Seleciona um estado</option>
          </select>
        </div>
        <div class="input-field">
          <label for="city">Cidade</label>
          <select name="city" disabled>
            <option value="">Seleciona uma cidade</option>
          </select>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        <h2>Ítens de coleta</h2>
        <p>Selecione um ou mais ítens abaixo</p>
      </legend>

      <div class="wrapper-items">
        <li data-id="item-1">
          <img src="/imgs/lampadas.svg" alt="Lâmpadas">
          <span>Lâmpadas</span>
        </li>
        <li data-id="item-2">
          <img src="/imgs/baterias.svg" alt="Pilhas e Baterias">
          <span>Pilhas e Baterias</span>
        </li>
        <li data-id="item-3">
          <img src="/imgs/papeis-papelao.svg" alt="Papéis e Papelão">
          <span>Papéis e Papelão</span>
        </li>
        <li data-id="item-4">
          <img src="/imgs/eletronicos.svg" alt="Resíduos Eletrônicos">
          <span>Resíduos Eletrônicos</span>
        </li>
        <li data-id="item-5">
          <img src="/imgs/organicos.svg" alt="Res[oduos Orgânicos">
          <span>Resíoduos Orgânicos</span>
        </li>
        <li data-id="item-6">
          <img src="/imgs/oleo.svg" alt="Óleo de Cozinha">
          <span>Óleo de Cozinha</span>
        </li>
      </div>
    </fieldset>

    <button type="submit">
      Cadastrar ponto de coleta
    </button>
  </form>
</div>
<script src="/js/main.js"></script>
{% endblock content %}