{% extends "components/layout.html" %}
{% block content %}
<link rel="stylesheet" href="/css/home.css">
<div id="home">
  <div class="content">
    <header>
      <a href="/">
        <img src="/imgs/logo.svg" alt="Ecoleta">
      </a>
      <a href="/create">
        <span></span>
        Cadastre um ponto de coleta
      </a>
    </header>

    <main>
      <h1>Seu marketplace de coleta de resíduos.</h1>
      <p>Ajudamos pessoas a encontrar pontos de coleta de forma eficiente.</p>
      <button onclick="showModal()">
        <span></span>
        <strong>Pesquisar ponto de coleta</strong>
      </button>
    </main>
  </div>
</div>
{% include "components/modal.html" %}
{% endblock content %}