{% extends "components/layout.html" %}
{% block content %}
<link rel="stylesheet" href="/css/points.css">
<div id="points">
  <header>
    <a href="/">
      <img src="/imgs/logo.svg" alt="Ecoleta">
    </a>
    <a href="/">
      <span></span>
      Voltar para home
    </a>
  </header>

  {% if points.length > 0 %}
  <div class="total">
    <strong>{{ points.length }} pontos</strong> encontrados.
  </div>
  <div class="wrapper-points">
    {% for point in points %}
    <div class="point">
      <img src="{{ point.photo }}" alt="{{ point.name }}">
      <h3>{{ point.name }}</h3>
      <strong>{{ point.items }}</strong>
      <div>
        <span>{{ point.address }}, Nº {{ point.number }}</span>
        <span>{{ point.city }} - {{ point.state }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="total">
    <strong>Nenhum</strong> ponto encontrados.
  </div>
  {% endif %}
</div>
{% endblock content %}