{% extends "components/layout.html" %}
{% block content %}
<link rel="stylesheet" href="/css/points.css">
<div id="points">
  <header>
    <a href="/">
      <img src="/imgs/logo.svg" alt="Ecoleta">
    </a>
    <a href="/">
      <span></span>
      Voltar para home
    </a>
  </header>

  <div class="total">
    <strong>2 pontos</strong> encontrados
  </div>
  <div class="wrapper-points">
    <div class="point">
      <img src="https://mid.curitiba.pr.gov.br/2012/capa/00114939.jpg" alt="Colectoria">
      <h3>Colectoria</h3>
      <strong>Resíduos Eletrônicos, Lâmpadas</strong>
      <div>
        <span>Guilherme Gemballa, Nº 260</span>
        <span>Jardim América, Rio do Sul - SC</span>
      </div>
    </div>
    <div class="point">
      <img src="https://www.tombstonereciclagem.com.br/imagens/informacoes/coleta-residuo-papel-e-papelao-03.jpg" alt="Colectoria">
      <h3>Colectoria</h3>
      <strong>Resíduos Eletrônicos, Lâmpadas</strong>
      <div>
        <span>Guilherme Gemballa, Nº 260</span>
        <span>Jardim América, Rio do Sul - SC</span>
      </div>
    </div>
    <div class="point">
      <img src="https://www.tombstonereciclagem.com.br/imagens/informacoes/coleta-residuo-papel-e-papelao-03.jpg" alt="Colectoria">
      <h3>Colectoria</h3>
      <strong>Resíduos Eletrônicos, Lâmpadas</strong>
      <div>
        <span>Guilherme Gemballa, Nº 260</span>
        <span>Jardim América, Rio do Sul - SC</span>
      </div>
    </div>
    <div class="point">
      <img src="https://www.tombstonereciclagem.com.br/imagens/informacoes/coleta-residuo-papel-e-papelao-03.jpg" alt="Colectoria">
      <h3>Colectoria</h3>
      <strong>Resíduos Eletrônicos, Lâmpadas</strong>
      <div>
        <span>Guilherme Gemballa, Nº 260</span>
        <span>Jardim América, Rio do Sul - SC</span>
      </div>
    </div>
    <div class="point">
      <img src="https://www.tombstonereciclagem.com.br/imagens/informacoes/coleta-residuo-papel-e-papelao-03.jpg" alt="Colectoria">
      <h3>Colectoria</h3>
      <strong>Resíduos Eletrônicos, Lâmpadas</strong>
      <div>
        <span>Guilherme Gemballa, Nº 260</span>
        <span>Jardim América, Rio do Sul - SC</span>
      </div>
    </div>
  </div>
</div>
{% endblock content %}