:root {
  --color-primary: #322153;
  --color-gray: #6C6C80;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 1.6rem;
  background: #E5E5E5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
}

button {
  cursor: pointer;
}